MINIMIZE BITMAP Minimize.bmp
EXPAND BITMAP Expand.bmp
DNARROW BITMAP arDown.bmp
UPARROW BITMAP arUp2.bmp
ALTOPRIGHT BITMAP alTopRight.bmp
ALTOPLEFT BITMAP alTopLeft.bmp
ALBTMRIGHT BITMAP alBtmRight.bmp
ALBTMLEFT BITMAP alBtmLeft.bmp
ALTOP BITMAP alTop.bmp
ALBOTTOM BITMAP alBottom.bmp